# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# Ignore all .vs directory files
BackEnd/WebAPI/.vs/*

# Ignore specific files in the .vs directory
BackEnd/WebAPI/.vs/ProjectEvaluation/webapi.metadata.v9.bin
BackEnd/WebAPI/.vs/ProjectEvaluation/webapi.projects.v9.bin
BackEnd/WebAPI/.vs/ProjectEvaluation/webapi.strings.v9.bin
BackEnd/WebAPI/.vs/WebAPI/DesignTimeBuild/.dtbcache.v2
BackEnd/WebAPI/.vs/WebAPI/config/applicationhost.config
BackEnd/WebAPI/.vs/WebAPI/v17/.futdcache.v2
BackEnd/WebAPI/.vs/WebAPI/v17/.suo

BackEnd/WebAPI/bin
BackEnd/WebAPI/obj