<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List your Property</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="addPropertyForm" (ngSubmit)="onSubmit()">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <!-- Basic Info Tab -->
              <tab heading="Basic Info" formGroupName="BasicInfo">
                <div class="form-group col-12 mb-3">
                  <p class="mb-0">I want to</p>
                  <div class="btn-group" btnRadioGroup formControlName="SellRent">
                    <label for="sell" class="btn btn-outline-primary me-2" btnRadio="1" role="button" id="sell" (click)="propertyView.sellRent = 1" (keydown.enter)="propertyView.sellRent = 1" tabindex="0">Sell</label>
                    <label for="rent" class="btn btn-outline-primary" btnRadio="2" role="button" id="rent" (click)="propertyView.sellRent = 2" (keydown.enter)="propertyView.sellRent = 2" tabindex="0">Rent</label>
                  </div>
                  <div class="error" *ngIf="SellRent.invalid && nextClicked">
                    Please Select sell or rent
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <p class="mb-0">BHK</p>
                  <div class="btn-group" btnRadioGroup formControlName="BHK">
                    <label *ngFor="let bhk of [1,2,3,4]" [attr.for]="'bhk' + bhk" class="btn btn-outline-primary me-2" [btnRadio]="bhk" (click)="propertyView.bhk = bhk" (keydown.enter)="propertyView.bhk = bhk" tabindex="0">{{bhk}}</label>
                  </div>
                  <div class="error" *ngIf="BHK.invalid && nextClicked">
                    Please Select BHK
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <p class="mb-1">Property Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="PType">
                    <label *ngFor="let ptype of propertyTypes" [attr.for]="'ptype' + ptype.id.toString()" class="btn btn-outline-primary me-2" [btnRadio]="ptype.id" (click)="propertyView.propertyType = ptype.name" (keydown.enter)="propertyView.propertyType = ptype.name" tabindex="0">
                      {{ ptype.name }}
                    </label>
                  </div>
                  <div class="error" *ngIf="PType.invalid && nextClicked">
                    Please Select Property Type
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <p class="mb-1">Furnishing Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="FType">
                    <label *ngFor="let ftype of furnishTypes" [attr.for]="'ftype' + ftype.id.toString()" class="btn btn-outline-primary me-2" [btnRadio]="ftype.id" (click)="propertyView.furnishingType = ftype.name" (keydown.enter)="propertyView.furnishingType = ftype.name" tabindex="0">
                      {{ ftype.name }}
                    </label>
                  </div>
                  <div class="error" *ngIf="FType.invalid && nextClicked">
                    Please Select Furnishing Type
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <label for="name">in Building/Society/Project</label>
                  <input type="text" id="name" formControlName="Name" class="form-control border-primary shadow-sm bg-light" (input)="propertyView.name = Name.value">
                  <div class="error" *ngIf="Name.invalid && (nextClicked || Name.touched)">
                    Please select building, society or project name
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <label for="City">City</label>
                  <div class="dropdown-wrapper">
                    <select #citySelect (change)="propertyView.city = citySelect.options[citySelect.options.selectedIndex].text" id="city" class="form-control border-primary shadow-sm bg-light" formControlName="City">
                      <option value="" disabled selected>--Select City--</option>
                      <option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</option>
                    </select>
                    <span class="dropdown-icon"><i class="fas fa-chevron-down"></i></span>
                  </div>
                  <div class="error" *ngIf="City?.invalid && (nextClicked || City?.touched)">
                    Please select city
                  </div>
                </div>

                <button type="button" class="btn btn-primary w-100 mb-3" (click)="selectTab(1, BasicInfo.valid)">Next</button>
              </tab>

              <!-- Pricing and Area Tab -->
              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12 mb-3">
                  <label *ngIf="SellRent.value === 1" for="price">Price (in USD)</label>
                  <label *ngIf="SellRent.value === 2" for="price">Rent (in USD)</label>
                  <input type="text" id="price" class="form-control border-primary shadow-sm bg-light" formControlName="Price" (input)="propertyView.price = Price.value">
                </div>
                <div class="error" *ngIf="Price.invalid && (nextClicked || Price.touched)">
                  Please Select
                  <span *ngIf="SellRent?.value === 1; else ShowRent">price</span>
                  <ng-template #ShowRent>rent</ng-template>
                </div>

                <div *ngIf="SellRent?.value === 2">
                  <div class="form-group col-12 mb-3">
                    <label for="security">Security (in USD)</label>
                    <input type="text" id="security" class="form-control border-primary shadow-sm bg-light" formControlName="Security">
                  </div>

                  <div class="form-group col-12 mb-3">
                    <label for="maintenance">Maintenance (in USD)</label>
                    <input type="text" id="maintenance" class="form-control border-primary shadow-sm bg-light" formControlName="Maintenance">
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <label for="builtArea">Built Area (in Sqr Feet)</label>
                  <input type="text" id="builtArea" class="form-control border-primary shadow-sm bg-light" formControlName="BuiltArea" (input)="propertyView.builtArea = BuiltArea.value">
                  <div class="error" *ngIf="BuiltArea.invalid && nextClicked">
                    Please Select built up area
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <label for="carpetArea">Carpet Area (in Sqr Feet)</label>
                  <input type="text" id="carpetArea" class="form-control border-primary shadow-sm bg-light" formControlName="CarpetArea">
                </div>

                <div class="form-group col-12 mb-3">
                  <button type="button" class="btn btn-primary w-100 mb-3" (click)="selectTab(2, PriceInfo.valid)">Next</button>
                  <button type="button" class="btn btn-primary w-100" (click)="selectTab(0, PriceInfo.valid)">Back</button>
                </div>
              </tab>

              <!-- Address Tab -->
              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12 mb-3">
                  <label for="floorNo">Floor</label>
                  <input type="text" id="floorNo" formControlName="FloorNo" class="form-control border-primary shadow-sm bg-light">
                </div>

                <div class="form-group col-12 mb-3">
                  <label for="totalFloor">Total Floor</label>
                  <input type="text" id="totalFloor" formControlName="TotalFloor" class="form-control border-primary shadow-sm bg-light">
                </div>

                <div class="form-group col-12 mb-3">
                  <label for="address">Address</label>
                  <input type="text" id="address" formControlName="Address" class="form-control border-primary shadow-sm bg-light">
                  <div class="error" *ngIf="Address.invalid && (nextClicked || Address.touched)">
                    Please Select address
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <label for="landMark">Landmark</label>
                  <input type="text" id="landMark" formControlName="LandMark" class="form-control border-primary shadow-sm bg-light">
                </div>

                <div class="form-group col-12 mb-3">
                  <button type="button" class="btn btn-primary w-100 mb-3" (click)="selectTab(3, AddressInfo.valid)">Next</button>
                  <button type="button" class="btn btn-primary w-100" (click)="selectTab(1, AddressInfo.valid)">Back</button>
                </div>
              </tab>

              <!-- Other Details Tab -->
              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12 mb-3">
                  <p class="mb-1">Ready to Move</p>
                  <div class="btn-group" btnRadioGroup formControlName="RTM">
                    <label for="RTMYes" class="btn btn-outline-primary me-2" btnRadio="true" role="button" id="RTMYes" (click)="propertyView.readyToMove=true" (keydown.enter)="propertyView.readyToMove=true" tabindex="0">Yes</label>
                    <label for="RTMNo" class="btn btn-outline-primary" btnRadio="false" role="button" id="RTMNo" (click)="propertyView.readyToMove=false" (keydown.enter)="propertyView.readyToMove=false" tabindex="0">No</label>
                  </div>
                  <div class="error" *ngIf="RTM.invalid && nextClicked">
                    Please Select ready to move
                  </div>
                </div>

                <div class="form-group col-3 mb-2">
                  <label for="possessionOn" *ngIf="propertyView.readyToMove">Establishment Date</label>
                  <label for="possessionOn" *ngIf="!propertyView.readyToMove">Possession Date</label>
                  <input type="text" id="possessionOn" class="form-control border-primary shadow-sm bg-light" formControlName="PossessionOn" bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'MM DD, YYYY'}">
                  <div class="error" *ngIf="PossessionOn.invalid && (nextClicked || PossessionOn.touched)">
                    Please select establishment/possession date
                  </div>
                </div>

                <div class="form-group col-12 mb-2">
                  <p class="mb-1">Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="Gated">
                    <label for="gatedYes" class="btn btn-outline-primary me-2" btnRadio="true" id="gatedYes" tabindex="0">Yes</label>
                    <label for="gatedNo" class="btn btn-outline-primary" btnRadio="false" id="gatedNo" tabindex="0">No</label>
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <p class="mb-1">Main Entrance</p>
                  <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                    <label for="east" class="btn btn-outline-primary me-2" btnRadio="East" id="east" tabindex="0">East</label>
                    <label for="west" class="btn btn-outline-primary me-2" btnRadio="West" id="west" tabindex="0">West</label>
                    <label for="south" class="btn btn-outline-primary me-2" btnRadio="South" id="south" tabindex="0">South</label>
                    <label for="north" class="btn btn-outline-primary" btnRadio="North" id="north" tabindex="0">North</label>
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <label for="description">Description</label>
                  <textarea id="description" formControlName="Description" class="form-control border-primary shadow-sm bg-light" rows="6"></textarea>
                </div>

                <div class="form-group col-12 mb-3">
                  <button type="button" class="btn btn-primary w-100 mb-3" (click)="selectTab(4, OtherInfo.valid)">Next</button>
                  <button type="button" class="btn btn-primary w-100" (click)="selectTab(2, OtherInfo.valid)">Back</button>
                </div>
              </tab>

              <!-- Add Photos Tab -->
              <tab heading="Add Photos">
                <div class="form-group col-12 mb-3">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br>
                    This is under construction
                  </div>
                </div>

                <div class="form-group col-12 mb-3">
                  <button type="button" class="btn btn-primary w-100" (click)="selectTab(3, true)">Back</button>
                </div>

                <div class="form-group col-12 mb-3">
                  <button type="submit" class="btn btn-success w-100 mb-3">Submit</button>
                  <button type="reset" class="btn btn-danger w-100">Cancel</button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h3>Your Property Preview</h3>
      </div>
      <div class="shadow-lg p-3 bg-white">
        <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
      </div>
    </div>
  </div>
</div>
